/* don't forget to put some comments :) */

table{
	width: 330px;
}

th{
	text-align: left;
}
/* want to collapse to don't have double margin */
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 7px;
}

.myImages{
	 width: 150px;
	 height: 200px;
}


#text {
	color: white;
}

h1{
	background-color: #ffd699;
	font-family: 'Signika Negative', sans-serif;
	font-family: 'Tillana', cursive;
}

body{
	background-image: url("image/image2.png");
	padding: 130px;
}

.card-text{
	color: black;
	font-family: 'Signika Negative', sans-serif;
	font-family: 'Slabo 27px', serif;
	font-family: 'Tillana', cursive;
}

p{
	font-family: 'Sarabun', sans-serif;
	font-family: 'Signika Negative', sans-serif;
	font-family: 'Slabo 27px', serif;
	font-family: 'Tillana', cursive;
}
/* change the text colour in white */
@media screen and (max-width: 992px) {
  body {
    
	background-image: url("image/image3.png");
	padding: 130px;
}
	.card-text{
		color: black;
	}

	}
	p {
		color: white;
	}
	
	table {
		color: white;
	}
	h3 {
		color: white;
	}


